section#content {
    margin-top: 0px;
    padding-top: 0px;
}

footer {
    margin-bottom: 20px;
    text-align: right;
}

.centered {
    text-align: center;
}

.inlining {
	display: inline-block;
}

.big {
    height: 45px;
    min-width: 100px;
    font-size: 22px;
    margin-bottom: 10px;
}

.tiny{
    width: 50px;
}
