<div style=text-align:center;>
	<h2>Welcome to Money Calendar</h2>
	<div style=margin:2px;border:1px solid #FF8C00;height:auto;width:auto;
	</div>
	<img src="http://www.sohotoday.net/wp-content/uploads/2010/07/stats-graph-money.jpg" alt="Image">
	</div>

	<a href="/coming_expirations"><button class="btn big">Start</button></a>

	<footer id="footer">
		
		<div class="container">
			Server provided by <a href="https://www.heroku.com/">Heroku</a>. Source code hosted on <a href="http://pages.github.com/">GitHub</a></p>
		</div>
	</footer>

</div>