
<div style=color:red;text-align:center;>
	<h2>Welcome to Money Calendar</h2>
<div style=margin:2px;border:1px solid #FF8C00;height:auto;width:auto;</div>
	<img src="http://www.sohotoday.net/wp-content/uploads/2010/07/stats-graph-money.jpg" alt="Image">
</div>

<% if current_account.nil? %>
<p>
	
	Please sign in if you will to start using the system
</p>
 
<% end %>
<a href="/coming_expirations">  Upcoming payments  </a>
<footer id="footer">
	<div class="alert centered">

	' Coming Soon!! MoneyCalendar is still under development'

</div>
  <div class="container">
   Sitio corriendo en  <a href="https://www.heroku.com/">Heroku</a> Alojado en <a href="http://pages.github.com/">GitHub</a>. Iconos de <a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a>. Web fonts de <a href="http://www.google.com/webfonts">Google</a>.</p>
  </div>
</footer>


