
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Coming expirations - Money Calendar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body align="center">
  <h1>Coming expirations</h1>

  <% if @expirations.empty? %>
  	<p>You don't have upcoming expirations</p>
  <% else %>
	<table align="center" border="1">
	  <tr>
	    <th>Spending Name</th>
	    <th>Expiry date</th>
	
	    <% @expirations.each do |pay| %>
	      <tr>
	        <td><%= pay.name %></td>
	        <td><%= pay.expiry_date.to_date %></td>
	        <!-- <td><#%= link_to 'Remove', pay, :confirm => 'Are you sure?', :method => :delete %></td> -->
	      </tr>
	    <% end %>
	  </tr>
	</table>
  <% end %>

  <form action="new_spending" method="get">
    <input type="submit" value="Add new payment" id="addNewPaymentButton" />
  </form>
  <form action="new_income" method="get">
    <input type="submit" value="Add new income" id="addNewIncomeButton" />
  </form>

</body>
</html>

