
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Income stats - Money Calendar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body align="center">
  <h1>Income Statistics</h1>

  <% if @stats.empty? %>
  	<p>You didn't received any incomes in this period</p>
  <% else %>
	<table align="center" border="1">
	  <tr>
	    <th>Income Name</th>
	    <th>Amount</th>
	    <th>Date</th>
	
	    <% @stats.each do |s| %>
	      <tr>
	        <td><%= s.get_name %></td>
	        <td><%="$#{s.amount}"%></td>
	        <td><%= s.pay_date.to_date %></td>
	        <!-- <td><#%= link_to 'Remove', pay, :confirm => 'Are you sure?', :method => :delete %></td> -->
	      </tr>
	    <% end %>
	    
	  </tr>
	</table>
	
	<p>Total: $<%= @total %></p>
  <% end %>

  <form action="coming_expirations" method="get">
    <input type="submit" value="Return" id="returnButton" />
  </form>
  
  <form action="incomes_stats" method="get" id="stats">
  	<p>View how many incomes I received in a given period of time</p>
  	From date <input type="date" id="incomes_from_date" name="incomes_from_date" />
  	To date <input type="date" id="incomes_to_date" name="incomes_to_date" />
    <input type="submit" value="View stats" id="viewIncomeStatsButton" />
  </form>

</body>
</html>

