<div align="center">
	<% if @is_payment.eql?('1') %>
	<h1>Create a new Payment</h1>

	<h4>Please define the new payment</h4>
	<br>
	<% else %>
	<h1>Create a new Income</h1>

	<h4>Please define the new Income</h4>
	<br>

	<% end %>

	<form  action="save" method="get">

		<% if @is_payment.eql?('1') %>
		<input type="hidden" name="is_payment" value="1">
		<% else %>
		<input type="hidden" name="is_payment" value="0">

		<% end %>
		<table border="0" align = "center">
			<tr>
				<td>Name</td>
				<td>
				<input type="text" name="name">
				
			</tr>

			<tr>
				<td>Amount</td>
				<td>
				<input type="text" name="amount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
				</td>
			</tr>

			<tr>
				<% if @is_payment.eql?('1') %>
				<td>Payment date</td>
                  <input type="hidden" name="is_payment" value="1">
				<% else %>
				
				<td>Incoming payment date</td>
				
				<input type="hidden" name="is_payment" value="0">
				<% end %>
				<td>
				<input type="date" name="date">
				</td>
			</tr>

			<tr>
				<td>Periodicity</td>
				<td>
				<select name="periodicity">
					<option value="0">Single</option>
					<option value="1">1 Month</option>
					<option value="2">2 Months</option>
					<option value="3">3 Months</option>
					<option value="4">4 Months</option>
					<option value="6">6 Months</option>
					<option value="12">1 Year</option>
				</select></td>
			</tr>
         <% if @is_payment.eql?('1') %>
         <tr> 
            <td></td>
            <td><input type="checkbox" name="notify" value="true"/> Receive notification?</td>
         </tr>
         <tr> 
            <td></td>
            <td>Quantity of days previous  <input type="number" name="advance_notify" class="tiny"></td>
         </tr>
         <tr> 
            <td></td>
            <td>Hour of notification  <input type="time" name="time_notify" class="tiny"></td>
         </tr>
         <% end %>
			<tr>
				<td>Description</td>
				<% if @is_payment.eql?('1') %>

				<td>				<textarea rows="4" name="description" placeholder="Describe this payment here"></textarea></td>
				<% else %>
				<td>				<textarea rows="4" name="description" placeholder="Describe this income here"></textarea></td>
				
				<% end %>

			</tr>

			<tr>
				<td colspan=2 align="center">
				<input type="submit" value="Save" id="saveButton" class="btn">
				<a href="/coming_expirations">
				<input type="button" value="Cancel" id="returnButton" class="btn" />
				</a></td>
			</tr>
		</table>
	</form>

	<% if @errorMessage != nil %>
	<h2 color="red" align="center"><%= @errorMessage%></h2>
	<% end %>
</div>
