
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>New Payment - Money Calendar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body align="center">
  <h1>Create a new Payment</h1>


  <FORM  action="savePayment" method=post>
Please define the new payment
<TABLE BORDER=1 align = "center">
<TR>
	<TD>Name</TD>
	<TD>
	<INPUT type=text name="Name">
	</TD>
</TR>

<TR>
	<TD>Amount</TD>
	<TD>
	<INPUT type=text name="Amount">
	</TD>
</TR>

<TR>
	<TD>Payment date</TD>
	<TD>
	 <input type="date" name="paymentDate">
	</TD>
</TR>
<TR>
	<TD>Periodical?</TD>
	<TD>
	
 <INPUT type=checkbox name="pValue" value="1">
	
	</TD>
</TR>

<TR>
	<TD>Periodicity</TD>
	<TD>
	<SELECT name="periodicity">
                <OPTION VALUE="1w">1 Weeks</OPTION>
		<OPTION VALUE="2w">2 Weeks</OPTION>
		<OPTION VALUE="1m">1 Month</OPTION>
		<OPTION VALUE="2m">2 Months</OPTION>
		<OPTION VALUE="3m">3 Months</OPTION>
		<OPTION VALUE="4m">4 Months</OPTION>
                <OPTION VALUE="6m">6 Months</OPTION>
                <OPTION VALUE="1y">1 Year</OPTION>
	</SELECT>
	</TD>
</TR>
<TR>
	<TD>Description</TD>
	<TD>
	<TEXTAREA rows="4" name="description">
	Describe this payment here</TEXTAREA>

	</TD>
</TR>

<TR>
	<TD COLSPAN=2>
	<INPUT type="submit" value="Save">
	</TD>
</TR>
</TABLE>
</FORM>


</body>
</html>

