<div align="center">
	<% if @is_payment.eql?('1') %>
	<h1>Create a new Payment</h1>
	<br>

	<h4>Please define the new payment</h4>
	<br>
	<% else %>
	<h1>Create a new Income</h1>
	<br>

	<h4>Please define the new Income</h4>
	<br>

	<% end %>

	<form  action="save" method="get">

		<% if @is_payment.eql?('1') %>
		<input type="hidden" name="is_payment" value="1">
		<% else %>
		<input type="hidden" name="is_payment" value="0">

		<% end %>
		<table border="0" align = "center">
			<tr>
				<td>Name</td>
				<td>
				<input type="text" name="name">
				
			</tr>

			<tr>
				<td>Amount</td>
				<td>
				<input type="text" name="amount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
				</td>
			</tr>

			<tr>
				<% if @is_payment.eql?('1') %>
				<td>Payment date</td>
                  <input type="hidden" name="is_payment" value="1">
				<% else %>
				
				<td>Incoming payment date</td>
				
				<input type="hidden" name="is_payment" value="0">
				<% end %>
				<td>
				<input type="date" name="date">
				</td>
			</tr>

			<tr>
				<td>Periodicity</td>
				<td>
				<select name="periodicity">
					<% if @is_payment.eql?('1') %>
					<OPTION VALUE="0">Single Payment</OPTION>
					<% else %>
					<OPTION VALUE="0">Single Income</OPTION>
					<% end %>

					<OPTION VALUE="1">1 Month</OPTION>
					<OPTION VALUE="2">2 Months</OPTION>
					<OPTION VALUE="3">3 Months</OPTION>
					<OPTION VALUE="4">4 Months</OPTION>
					<OPTION VALUE="6">6 Months</OPTION>
					<OPTION VALUE="12">1 Year</OPTION>
				</select></td>
			</tr>

			<tr>
				<td>Description</td>
				<% if @is_payment.eql?('1') %>

				<td>				<textarea rows="4" name="description" placeholder="Describe this payment here"></textarea></td>
				<% else %>
				<td>				<textarea rows="4" name="description" placeholder="Describe this income here"></textarea></td>
				
				<% end %>

			</tr>

			<tr>
				<td colspan=2 align="center">
				<input type="submit" value="Save" id="saveButton" class="btn">
				<a href="/coming_expirations">
				<input type="button" value="Cancel" id="returnButton" class="btn" />
				</a></td>
			</tr>
		</table>
	</form>

	<% if @errorMessage != nil %>
	<h2 color="red" align="center"><%= @errorMessage%></h2>
	<% end %>
</div>
