
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Coming expirations - Money Calendar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body align="center">
  <h1>Payments Statistics</h1>

  <% if @stats.empty? %>
  	<p>You don't have payments done in this period</p>
  <% else %>
	<table align="center" border="1">
	  <tr>
	    <th>Spending Name</th>
	    <th>Amount</th>
	    <th>Date</th>
	
	    <% @stats.each do |s| %>
	      <tr>
	        <td><%= s.name %></td>
	        <td><%= s.expiry_date.to_date %></td>
	        <td><%= "$ #{s.amount}" %></td>
	        <!-- <td><#%= link_to 'Remove', pay, :confirm => 'Are you sure?', :method => :delete %></td> -->
	      </tr>
	    <% end %>
	  </tr>
	</table>
  <% end %>

  <form action="coming_expirations" method="get">
    <input type="submit" value="Return" id="returnButton" />
  </form>
  
  <form action="payments_stats" method="get" id="stats">
  	<p>View how many payments I did in a given period of time</p>
  	From date <input type="date" id="stats[from_date]" name="stats[from_date]" />
  	To date <input type="date" id="stats[to_date]" name="stats[to_date]" />
    <input type="submit" value="View stats" id="viewPaymentsStatsButton" />
  </form>

</body>
</html>

