<body align="center">
	<h1>Edit your profile preferences</h1>
	<br>

	<form action="save_profile" method="get">
		Name <input type="text" name="name" value="<%= @current_account.friendly_name %>"> <br>
		Email <input type="text" name="email" value="<%= @current_account.email %>"> <br>
		
		<input type="submit" value="Save" id="saveButton">
	</form>

	<a href="/coming_expirations">Return to upcoming payments</a>

	<% if @message != nil %>
	<h2 color="red" allign="center"><%= @message%></h1>
	<% end %>
</body>
