<!DOCTYPE html>
<html debug="true">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Money Calendar</title>

		<link href="stylesheets/style_add.css" media="all" rel="stylesheet" type="text/css">
		<link href="stylesheets/style.css" media="all" rel="stylesheet" type="text/css">

		<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
		<link href="stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="stylesheets/font-awesome.min.css" rel="stylesheet">
		<link href="stylesheets/bootswatch.css" rel="stylesheet">
		<link href="stylesheets/camilo.css" rel="stylesheet">
	</head>

	<body class=" vis-public env-production" style="">
		<div id="wrapper">
			<div class="header header-logged-in true">
				<div class="container clearfix">
					<a class="header-logo-invertocat mega-octicon" href="/">Money Calendar</a>

					<div class="divider-vertical"></div>

					<ul id="user-links" class="nav pull-right">
						<% if current_account %>
						<li>
							<a href="/coming_expirations" class="name"> <img src="<%= current_account.image_m %>" width="25" height="25"><%= current_account.friendly_name %></a>
						</li>
						
						<li><div class="divider-vertical"></div></li>

						<li>
							<a rel="tooltip" href="/profile" id="account_settings" class="tooltipped downwards" title="Account settings"> <img src="images/settings.png" width="16" height="16"></a>
						</li>

						<li>
							<a href="/logout" id="logout" class="tooltipped downwards" title="Sign out"><img src="images/log-out.png" width="16" height="16"></a>
						</li>
						<% end %>
					</ul>
				</div>
			</div>

			<div class="site hfeed" itemscope="" itemtype="http://schema.org/WebPage">

				<section id="content">
					<%= yield %>
				</section>

			</div>
			<div class="modal-backdrop"></div>
		</div>

		<div id="footer-push"></div><!-- hack for sticky footer -->
		</div><!-- end of wrapper - hack for sticky footer -->

		<!-- footer -->
		<div id="footer"></div><!-- /.#footer -->

	</body>
</html>